
   <table class="ts-shop-base-table ts-shop-orders-table">
     
       <thead class="ts-shop-base-table-header">
          <tr>
              <th>Заказ № </th>
              <th> Клиент </th>
              <th> Оплата нал. </th>
              <th> Оплачено </th>
              <th> Доставлено </th>
              <th> 
                <div>Товары</div>
                <table class="ts-shop-base-table ts-shop-orders-table">
                    <thead class="ts-shop-base-table-header">
                      <tr>
                        <th width="60%">Product</th>
                        <th width="20%">Count</th>
                        <th width="20%">Total price</th>
                      </tr>
                    </thead>
                </table>
              </th>
            </tr>
       </thead>
       <tbody>
          <tr *ngFor="let order of orders">
              <td>{{order.ordernumber}}</td>
              <td>{{order.client.name}} {{order.client.surname}}</td>
              <td align="center"><div class={{getStyle(order.iscash)}}>{{getLabel(order.iscash)}}</div></td>
              <td align="center"><div class={{getStyle(order.paidstatus)}}>{{getLabel(order.paidstatus)}}</div></td>
              <td align="center"><div class={{getStyle(order.deliveryStatus)}}>{{getLabel(order.deliveryStatus)}}</div></td>
              <td>
                <table class="ts-shop-base-table ts-shop-orders-table">
                  <tbody>
                      <tr *ngFor="let product of order.goods">
                          <td width="60%">{{product.name}}</td>
                          <td width="20%">{{product.countSales}}</td>
                          <td width="20%">{{product.countSales*product.price | currency : '€'}}</td>
                      </tr>
                  </tbody>  
                </table> 
                <div><b>Total price:   {{getTotalCost(order.goods) | currency : '€'}}</b></div>
              </td>
            </tr>
       </tbody>       
   </table>
   
 
